.container {
    position: relative;
    max-width: 650px;
    margin: 50px auto;
    border: 2px solid #064497;
    border-radius: 25px;
    padding: 30px;
}

.text-center {
    text-align: center;
    margin-top: -10px;
    margin-left: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 10px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.block-send {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}

.button-block {
    padding-left: 30px;
}

.logout-link {
    text-decoration: none;
    float: right;
    color: black;
}

.input-file {
    display: none;
}

.label-file {
    cursor: pointer;
}

.results {
    text-align: center;
}