{#<!DOCTYPE html>#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>Login</title>#}
{#    <link href="/Public/assets/css/style.css" rel="stylesheet">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}
{#</head>#}
<body>
<section class="register">
    <h1 class="title">Login</h1>
    <p class="text-center">{{ result }}</p>
    <form action="index.php" method="post" class="contact-form row">
        <input type="hidden" name="action" value="loginExecute">
        <div class="form-field col-lg-12">
            <label for="first-email" class="hidden"></label>
            <input type="email" class="input-text js-input" id="first-email" name="email" placeholder="Email" value="{{ emailSession }}" required>
        </div>
        <div class="form-field col-lg-12">
            <label for="password" class="hidden"></label>
            <input type="password" class="input-text js-input" id="password" name="password" placeholder="Password"
                   required>
        </div>
        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
            <a href="index.php?action=showRegister" class="submit-btn reg-link">Register</a>
        </div>
    </form>
</section>
<script src="/Public/assets/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>